
.container{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
h1{
    text-align: center;
}

.intro{
    padding: 20px;
    margin: 20px;   
}

button{
    border: pink;
    background-color: #2193b0;
    height: 50px;
    width: 150px;
text-align: center;
display: inline-block;
font-size: large;
border-radius: 8px;

}