/* body{
  height: 100%;

} */

 .section{
  background-color: lightgoldenrodyellow;
  display: flex;
  height: 600px;
  align-items: center;
  justify-content: center;
 
} 

.navbar{
    font-style: oblique;
    background-color: aqua;
    /* float: left; */
}

.footer {
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  background-color: aqua;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: small;
}

li {
  float: left;
    display: inline;
    margin: 5px;
    padding: 5px;
    
}

/* Desktops and laptops ----------- */
@media (min-width: 1224px) {
    /* Styles */
    body {
      background-color: lightgoldenrodyellow !important;
    }
  }
  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    /* Styles */
    body {
      background-color: lightcoral !important;
    }
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    /* Styles */
    body {
      background-color: lightcyan !important;
    }
  }