body{
  height: 100%;
 
    
}

.navbar{
    font-style: oblique;
    /* float: left; */
}

.footer {
    
  background-color: aqua;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: small;
}

li {
  float: left;
    display: inline;
    margin: 5px;
    padding: 5px;
    
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
    /* Styles */
    body {
      background-color: lightgoldenrodyellow !important;
    }
  }
  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    /* Styles */
    body {
      background-color: lightcoral !important;
    }
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    /* Styles */
    body {
      background-color: lightcyan !important;
    }
  }