body{
  height: 100%;
}
.navbar{
    font-style: oblique;
    background-color: aqua;
    
}

.nav-link{
  color: red;
}

.footer {
  height: 70px;
  padding: 20px 50px 50px 50px;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  background-color: aqua;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-size: small;
}

li {
  float: left;
    display: inline;
    margin: 5px;
    padding: 5px;
    
}

/* Desktops and laptops ----------- */
@media (min-width: 1224px) {
    /* Styles */
    body {
      background-color: white !important;
    }
  }
  /* Large screens ----------- */
  @media only screen and (min-width: 1824px) {
    /* Styles */
    body {
      background-color: lightcoral !important;
    }
  }

  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width: 320px) {
    /* Styles */
    body {
      background-color: lightcyan !important;
    }
  }