.container{
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.project-row{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    width: 70%;
    border: solid purple ;
    justify-content: space-around;

}

/* .fomo{
    display: flex;
    align-items: center;
    justify-content: center;
} */

